html,body {margin:0px; padding:0px; overflow-x:hidden;}

body{background-image:none;
	background-repeat:no-repeat; 
	background-attachment: fixed;
	background-color:#662D45;
	z-index:0;}

#centertxt {
	line-height:1em;
	z-index:5;
	margin: 20px 164px 20px 165px;
	padding: 60px 20px 60px 20px;
	text-align: center;
	}
